.cardContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  width: 300px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}

.cardContainer:hover {
  transform: scale(1.03);
}

.cardImg {
  height: 60%;
}

.cardImg img {
  /* object-fit: cover;
  object-position: center; */
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.cardInfo {
  height: 40%;
  padding: 10px;
}

.precio {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: black;
}

.nombre {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: black;
}
