.contt {
  display: flex;
  justify-content: center;
}

.detailCont {
  width: 100%;
  position: absolute;
  top: 100px;
}

.detailParent {
  display: flex;
  flex-direction: column;
}

.detailParent p {
  color: black;
  text-align: left;
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
}

.detCont {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  position: relative;
  width: 100%;
}

.rating {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 15px;
  top: 0;
  right: 5%;
}

.rating span {
  font-weight: bold;
}

.detailImg {
  height: 300px;

  width: 100%;
}

.detailImg img {
  width: 380px;
  border-radius: 5px;
}

.detailInfo {
  height: 340px;
  position: absolute;
  top: 30%;
}

.detName {
  font-size: 30px;
}

.detailPrecio {
  text-align: left;
  position: relative;
  height: 23%;
}

.detailPrecio p {
  font-size: 28px;
}

.detailPrecio span {
  color: #1057bad8;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  left: 16px;
}

.envio {
  display: flex;
  width: 98%;
  margin-left: 10px;
}

.envio span {
  color: #1057bad8;
  cursor: pointer;
  font-size: 15px;
}

.envioIcon {
  display: flex;
  align-items: center;
}

.devolucion {
  display: flex;
  width: 98%;
  margin-left: 10px;
}

.devolucion span {
  color: #1057bad8;
  cursor: pointer;
  font-size: 15px;
}

.devolucionIcon {
  display: flex;
  align-items: center;
}

.detailInfo button {
  background-color: #1057bad8;
  color: white;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  top: 65%;
  max-width: 400px;
  margin-top: 30px;
}

@media (min-width: 1000px) {
  .detCont {
    flex-direction: row;
  }

  .detailImg {
    position: absolute;
    width: 60%;
    left: 0;
    top: 0;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detailInfo {
    position: absolute;
    width: 40%;
    top: 150px;
    right: 0;
    height: 400px;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .detHeader {
    width: 40%;
    height: 150px;
    position: absolute;
    left: auto;
    right: 0;
  }

  .rating {
    position: relative;
    left: 3%;
  }

  .detailInfo button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 100px;
  }
}
